<section>
  <h2>Formtastic!</h2>
  <%= semantic_form_for book do |f| %>

    <% if book.errors.any? %>
        <div class='error-summary'>
          <h3 id="error_summary">
            There were errors saving this book
          </h3>
          <%= f.semantic_errors :title, :synopsis, :isbn, :publish_year, { 'aria-describedby': 'error_summary' }  %>
        </div>
    <% end %>

    <%= f.inputs name: "Book cover" do %>
      <%= f.input :title %>
      <%= f.input :synopsis %>
    <% end %>

    <%= f.inputs name: "Publisher information" do %>
      <%= f.input :isbn %>
      <%= f.input :publish_year, as: :number %>
    <% end %>


    <%= f.actions do %>
      <%= f.action :submit %>
    <% end %>
  <% end %>
</section>
